.lead__image {
  display: block;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: calc(100% + 48px);
    left: -24px;
  }
}

@media screen and (max-width: 400px) {
  .lead__image {
    width: calc(100% + 32px);
    left: -16px;
  }
}