@import url(__title/intro__title.css);
@import url(__text/intro__text.css);
@import url(__list/intro__list.css);
@import url(__list-bold/intro__list-bold.css);

.intro {
  max-width: 690px;
  margin: 0 auto 90px;
  padding-right: 300px;
}

@media screen and (max-width: 1080px) {
  .intro {
    padding-right: calc(100% - 690px);
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 100%;
    margin-bottom: 88px;
    padding-right: 0;
  }
}

@media screen and (max-width: 400px) {
  .intro {
    margin-bottom: 64px;
  }
}
